@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Default Dark Mode Styles */
:root {
    --primary-color: #0055d4;
    --text-color: #727171;
    --background-color: #070707;
    --form-background: #333;
    --form-text-color: white;
}

/* Light Mode Styles */
[data-bs-theme="light"] {
    --primary-color: #0055d4;
    --text-color: #333;
    --background-color: #ffffff;
    --form-background: #f0f0f0;
    --form-text-color: #000000;
}

/* Dark Mode Styles */
[data-bs-theme="dark"] {
    --primary-color: #0055d4;
    --text-color: #727171;
    --background-color: #070707;
    --form-background: #333;
    --form-text-color: white;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Navbar */
.navbar {
    background-color: var(--text-color);
    padding: 0.5rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

/* Navbar Links */
.navbar a {
    color: var(--background-color);
    text-decoration: none;
    padding: 14px;
    font-size: 17px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Common styles */
img {
    width: 100%;
    border-radius: 10px;
}

.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.card {
    background-color: var(--form-background);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item_title {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 0.8rem 0;
}

.item_subtitle {
    font-size: 1.4rem;
    color: var(--text-color);
}

/* Layout */
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: var(--background-color);
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 2rem;
    }
}

.profile {
    grid-column: 1/-1;
    margin-bottom: 2rem;
}

.profile_container {
    display: flex;
    gap: 2rem;
}

.profile_profileImg {
    max-width: 250px;
    border-radius: 50%;
}

.downloadBtn {
    color: var(--text-color);
    transition: all 0.3s;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--primary-color);
    border: none;
}

.downloadBtn:hover {
    transform: scale(1.05);
    background-color: #003bb5;
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.contact-form input,
.contact-form textarea {
    padding: 0.8rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--form-background);
    color: var(--form-text-color);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.contact-form .submit-btn {
    background-color: var(--primary-color);
    color: var(--form-text-color);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form .submit-btn:hover {
    background-color: #003bb5;
    transform: scale(1.05);
}

.arabic-text {
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.8rem 0;
}

hr {
    grid-column: 1/-1;
    width: 88%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 2px solid rgba(128, 128, 128, 0.229);
}

@media only screen and (max-width: 768px) {
    hr {
        margin: 0 auto;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}
