/* Custom Styles */
:root {
    --primary-color: #0055d4;
    --text-color: #727171;
    --background-color: #070707;
    --form-background: #333;
    --form-text-color: white;
}

[data-bs-theme="light"] {
    --primary-color: #0055d4;
    --text-color: #333;
    --background-color: #ffffff;
    --form-background: #f0f0f0;
    --form-text-color: #000000;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: var(--text-color);
    padding: 0.5rem;
}

.navbar a {
    color: var(--background-color);
    text-decoration: none;
    padding: 14px;
    font-size: 17px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.downloadBtn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.downloadBtn:hover {
    background-color: darkblue;
}

.contact-form {
    margin-top: 5rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.8rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--form-background);
    color: var(--form-text-color);
}

.contact-form .submit-btn {
    background-color: var(--primary-color);
    color: var(--form-text-color);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form .submit-btn:hover {
    background-color: #003bb5;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        align-items: flex-start;
    }
    .profile img {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
